* {
    font-family: Ayuthaya, sans-serif;
}

header {
    display: block;
    text-align: center;
}

section {
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    height: 300px;
    flex-grow: inherit;
}

div.wrapper{
    display: flex;
    width: 500px;
    justify-content: center;
}



h3{
    display: flex;

}

input::placeholder {
    color: #349a60;
    font-size: 1.2em;
    font-family: "Bangla MN";
}


form{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input{
    position: relative;
    align-items: center;
    text-align: center;
    background-color: #8ef691;
    height: 30px;
    margin: 5px;
    padding: 5px;
    border-radius: 6px;
    border: none;
    scroll-padding-block: revert;
    font-family: "Al Bayan";
    width: 200px;
}


button{
    font-weight: 800;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 10px;
    background: #20bf6b;
    transition: 0.4s;
    margin: 30px;
    width: 100px;

}